# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
# Generated Application Should not be version controlled either
*.app/
# We don't want to commit the examples
Assets/UnityTestTools/Examples/
Assets/UnityTestTools/Examples.meta
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
